(Clueboard wooden case)
(2015 Oct 3, Zach White, Clueboard)
( *** UNPROVEN PROGRAM *** )
( Moves the tool back one keyboard. )

(Defaults:)
{{gcode_defaults}}

(Move {{case_width}}mm to the left of origin)
G0 X-{{case_width}} Y0
M30
