(Clueboard wooden case)
(2015 Oct 3, Zach White, Clueboard)
( *** UNPROVEN PROGRAM *** )
( Origin: Top left of stock )
( Material: Hardwood )
( Tool: 1/4" upcarve endmill )

(Defaults:)
{{gcode_defaults}}

(Start by going to 0,0,15. Hope you homed the machine first.)
G0 Z{{hover_height}}
G0 X0 Y0

? set box_left_x = box_left_x + roughout_offset
? set box_right_x = box_right_x - roughout_offset
? set box_top_y = box_top_y - roughout_offset
? set box_bottom_y = box_bottom_y + roughout_offset

(Draw the box that needs to be cut out)
G0 X{{box_left_x}} Y{{box_top_y}}
G1 Z-1
G1 X{{box_right_x}}
G1 Y{{box_bottom_y}}
G1 X{{box_left_x}}
G1 Y{{box_top_y}}

(Lather, rinse, repeat, until we're through the box)
? for i in range(-2, case_depth - 2, -2):
G1 Z{{i}}
G1 X{{box_right_x}}
? if (case_depth - i) >= (tab_height * -1):
(Leave a left tab to hold the center in place)
G1 Y{{tab_start}}
G1 Z{{i + hover_height}}
G1 Y{{tab_start - tab_length}}
G1 Z{{i}}
(End tab)
? endif
G1 Y{{box_bottom_y}}
G1 X{{box_left_x}}
? if (case_depth - i) >= (tab_height * -1):
(Leave a right tab to hold the center in place)
G1 Y{{tab_start - tab_length}}
G1 Z{{i + hover_height}}
G1 Y{{tab_start}}
G1 Z{{i}}
(End tab)
? endif
G1 Y{{box_top_y}}
? endfor

(End at the 0,0 for the next board)
G0 Z{{hover_height}}
G0 X{{case_width}} Y0 Z125
M30
